In [5]:
import pandas as pd

In [6]:
read_file = pd.read_excel ("HargaBawangMerah2021.xlsx")

In [7]:
read_file.to_csv ("DataHarga.csv", 
                  index = None,
                  header=True)

In [8]:
df = pd.DataFrame(pd.read_csv("DataHarga.csv"))
df

    No      Bulan  Jawa Barat
0    1    Januari       17150
1    2   Februari       16050
2    3      Maret       18350
3    4      April       22150
4    5        Mei       21350
5    6       Juni       16200
6    7       Juli       18150
7    8    Agustus       20900
8    9  September       16350
9   10    Oktober       13750
10  11   November       15100
11  12   Desember        8750